numpy
pickle-mixin
streamlit
streamlit_option_menu
scikit-learn
plotly.express
pytesseract
PyPDF2
io
reportlab.lib
reportlab.lib.units
reportlab.lib.utils
reportlab.pdfgen
reportlab.lib.pagessizes

