streamlit run "C:\Users\FATHIMA MUSKAN\OneDrive\Desktop\Multiple disease prediction system\Multiple disease pred.py"



FOR DEPLOYMENT:

numpy
pickle-mixin
streamlit
streamlit_option_menu
scikit-learn
